h1 {
    font-size: 100px;
    color: rgb(230, 214, 187);
    font-weight: lighter;
    width: 200px;
    margin: 0px auto;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    /* font-size: 30px; */
    width: 600px;
    height: 60px;
    /* border: rgb(225, 209, 188) 1px solid;  */
    box-shadow: 1px 1px 10px rgb(221, 215, 215);
    ;
    /* padding: 10px; */
}


.todo-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 60px;
    border: rgb(229, 226, 221) 0.5px solid;
    box-shadow: 10px px 10px rgb(221, 215, 215);
}

.line-left {
    display: flex;
    align-items: center;
}

.panel {
    display: flex;
    flex-direction: row;
    color: rgb(171, 167, 167);
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 60px;
    border: rgb(229, 226, 221) 0.5px solid;
    box-shadow: 10px px 10px rgb(221, 215, 215);
}




.action-list-button {
    visibility: hidden;
}

/* .todo-checkbox { */
label {
    margin-left: 10px;
    margin-right: 15px;

}

.line-through {
    text-decoration: line-through;
    color: rgb(184, 180, 180);
}

.todo-checkbox:checked {
    color: greenyellow;
    background-color: white;

}

.todo-delete-button {
    font-size: 20px;
    padding-right: 10px;
    border: 0;
    color: rgb(210, 116, 147);
    background-color: white;
    margin-right: 10px;

}

.clear-completed-button {
    border: 0;
    color: rgb(171, 167, 167);
    background-color: white;
}

form {
    /* display: flex;
    align-items: center; */
    margin: 0;
    width: 100%;
    /* height: 100%; */
}

.todo-form-input {
    border: none;
    font-size: 24px;
    height: 100%;
    width: 100%;
}

input:active,
input:hover,
input:focus {
    outline: 0;
    outline-offset: 0;
}

::placeholder {
    color: rgb(221, 215, 215);
    font-style: italic;
}

.todo-checkbox {
    display: none;
    /* <--скрываем дефолтный чекбокс */
}

.line-left label span {
    /* <-- стилизируем новый */
    height: 12px;
    width: 12px;
    border: 1px solid rgb(67, 216, 159);
    ;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    background-color: #FFF;
    padding: 3px;
}

[type=checkbox]:checked+span:before {
    /* <-- ставим иконку, когда чекбокс включен  */
    content: '\2713';
    position: absolute;
    top: -5px;
    left: 2px;
    font-size: 20px;
    color: rgb(141, 235, 199);
}

.multi-buttons input[type=radio] {
    display: none;
}

.multi-buttons label {

    padding: 5px;

}

.multi-buttons input[type=radio]:checked+label {
    border: 1px solid #ecc1c1;
    border-radius: 6px;

}

.multi-buttons label:hover {
    border: 1px solid #f2e9e9;
    border-radius: 6px;
}