h1 {
    font-size: 100px;
    color: rgb(230, 214, 187);
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {

    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 30px;
    padding: 10px;

}

input {
    /* border: none; */
}

::placeholder {
    color: rgb(221, 215, 215);
}

.main-content {
    width: 400px;
    height: 50px;
    border: rgb(225, 209, 188) 1px solid;
    box-shadow: 1px 1px 10px rgb(221, 215, 215);
    ;
}