h1 {
    font-size: 100px;
    color: rgb(230, 214, 187);
    font-weight: lighter;
    width: 200px;
    margin: 0px auto;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    /* font-size: 30px; */
    width: 600px;
    height: 60px;
    /* border: rgb(225, 209, 188) 1px solid;  */
    box-shadow: 1px 1px 10px rgb(221, 215, 215);
    ;
    /* padding: 10px; */

}

.action-list-button {
    visibility: hidden;
}

form {
    /* display: flex;
    align-items: center; */
    margin: 0;
    width: 100%;
    /* height: 100%; */
}

input {
    border: none;
    font-size: 24px;
    height: 100%;
    width: 100%;
}

input:active,
input:hover,
input:focus {
    outline: 0;
    outline-offset: 0;
}

::placeholder {
    color: rgb(221, 215, 215);
    font-style: italic;
}