.container {
  background-color: rgba(35, 36, 37, 0.695);
  display: flex;
  flex-direction: column;
  width: auto;
  border: none;
  padding: 30px 50px;
  box-sizing: border-box;
  align-items: center;
}

.root {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;

  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  color: white;
  font-size: 20px;
}

div.hidden {
  display: none;
}

.Clouds {
  background-image: url(https://img1.akspic.ru/crops/3/7/6/1673/1673-kuchevoe_oblako-dozhd-meteorologicheskoe_yavlenie-groza-atmosfera_zemli-3840x2160.jpg);
  background-size: cover;
}

.Snow {
  background-image: url(https://img3.akspic.ru/crops/9/7/5/8/5/158579/158579-zima-sneg-rastenie-mir-prirodnyj_landshaft-3840x2160.jpg);
  background-size: cover;
}

.Clear {
  background-image: url(https://img2.akspic.ru/crops/9/6/4/0/40469/40469-zakat-atmosfera-rassvet-solnce-poslesvechenie-3840x2160.jpg);
  background-size: cover;
}

.Rain {
  background-image: url(https://media.istockphoto.com/id/1429701799/photo/raindrops-on-asphalt-rain-rainy-weather-downpour.jpg?s=612x612&w=0&k=20&c=w3lp5jGXo71lNrZeg9iWX1Gv8gSEz8fjHtvpneEjdyw=);
  background-size: cover;
}

.default-image {
  background-image: url(https://img2.akspic.ru/crops/8/0/5/2508/2508-solnce-noch-gorizont-spokojnyj-vecher-3840x2160.jpg);
  background-size: cover;
}

.city-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

input {
  border: 0;
  border-radius: 15px;
  padding: 5px 10px;
}

.city-input button {
  background-color: rgb(255, 255, 255);
 padding: 2px 5px;
  border: 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h3 {
  margin: 0;
  padding: 0;
}

.display-weather {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
