.red{
    background-color: #d34f4fb7;
}
.green{
    background-color:    #9fb19c;
}
.yellow{
    background-color: #f6f275;
}
.blue{
    background-color: #a2c7f4;
}
.pet-section{
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0%;
    align-items: center;
    text-align: center;
}
.badge-text{
    margin-left: 0.2rem;
}
