.item-container{ 
    display: flex;
    flex-direction: row;
    gap: 2rem; 
    flex-wrap: wrap;
    margin-top: 5rem;
align-items: center;
justify-content: space-between;

}
.category-button-container{
    display: flex;
   justify-content: center;
   align-items: center;}
.category-button{
    background-color: #d4e4d2;
    color: black;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-top: 2rem;
   
    border-radius: 40px;
}
.category-button:hover{
    background-color: #9fb19c;
}
@media (max-width: 576px) {
    .item-container{
       justify-content: space-around;
       gap: 0rem;
    }
    .filter-container{
       margin: 0;
    }
}
