.view-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  flex-wrap: nowrap;
  margin: 3rem 5rem;
}
.rating {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: flex-start;
}
.star-svg {
  filter: brightness(0) saturate(100%) invert(75%) sepia(50%) saturate(320%)
    hue-rotate(10deg);
}
.plant-info {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #e0e0e0;
    box-shadow: 4px 4px 20px rgb(61, 59, 59); */
  box-shadow: 0 0 55px rgba(66, 65, 65, 0.2);
  border-radius: 8px; /* опционально */
  border: 1px solid #f0f0f0;
  width: 50%;
  padding: 2rem;
  height: 60%;
}
.price {
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
}
h2 {
  align-self: center;
  color: rgb(44, 54, 40);
}
.plant-type {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(68, 66, 66);
  margin: 2rem 0 0 0;
}
.plant-description {
  font-size: 1.2rem;
  color: rgb(47, 46, 46);
}
.tags {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

@media (max-width: 576px) {
  .view-container {
    flex-direction: column;
    gap: 1rem;
    margin: 0 1rem;
  }
  .image-plant-view {
    width: 95%;
    height: 80%;
    display: block;
    margin: 0 auto;
  }
  .tags {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .plant-name {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(68, 66, 66);
    margin: 0;
  }
  .rating {
    justify-content: center;
  }
  .plant-type {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(68, 66, 66);
    margin: 0;
  }
  .plant-info {
    width: 90%;
    padding: 1rem;
  }
}
