.container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
 html, body {
      height: 100%;
      margin: 0;
    }
.chat {
  background-image: url(https://png.pngtree.com/background/20210715/original/pngtree-hand-drawn-cute-seamless-cat-paw-background-picture-image_1282901.jpg);
  background-size: cover;
  height: 90%;
  width: 100%;
  overflow-y: scroll;
}

.right {
  display: grid;
  justify-self: right;
  background-color: rgb(35, 64, 126);
  border-radius: 10px;
  align-self: end;
  width: 20vw;
  margin-right: 40px;
}

.left {
  display: grid;
  justify-self: left;
  background-color: rgb(18, 36, 74);
  border-radius: 10px;
  width: 20vw;
  margin-left: 20px;
}

